---
import { type CollectionEntry } from 'astro:content';
import Project from './Project.astro';

type Props = {
  projects: CollectionEntry<'projects'>[];
  isMore?: boolean;
};

const { projects, isMore } = Astro.props;
projects.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<div class="mt-16">
  <div class="flex justify-between items-center">
    <h2 class="w-[15rem] uppercase dark:text-light">Featured Projects</h2>
    {
      isMore && (
        <div>
          <a
            aria-label="All projects"
            href="/projects"
            class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 flex-noner"
          >
            View all
          </a>
        </div>
      )
    }
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
    {projects.map((project) => <Project project={project} />)}
  </div>
</div>
