---
import { type CollectionEntry } from 'astro:content';

type Props = {
  project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;

import { Image } from 'astro:assets';
---

<article class="w-full max-h-[25rem] overflow-hidden relative group">
  <div class="flex items-center absolute right-4 top-4 z-10">
    <a
      href={project.data.link}
      class="text-white p-3 bg-black/50 rounded-full backdrop-blur-md ml-1"
      aria-label="Live website link"
      target="_blank"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-link-2"
      >
        <path
          d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"
        ></path>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
    </a>
  </div>
  <a href={`/projects/${project.slug}`}>
    <Image
      src={project.data.image}
      alt="Project mockup"
      class="w-full h-full scale-100 hover:scale-110 transition duration-[1.5s]"
    />
  </a>
  <div
    class="absolute w-full bottom-0 left-0 backdrop-blur-md dark:text-white text-white bg-black/50 p-4 translate-y-[100%] group-hover:translate-y-0 transition duration-700"
  >
    <h3 class="mr-2 text-xl">{project.data.title}</h3>
  </div>
</article>
