---
import type { IHeroProps } from '../../types';
import { Image } from 'astro:assets';
import myPhoto from '/src/assets/home_hero.jpg';

const { name, about } = Astro.props as IHeroProps;
---

<section class="animate-on-scroll opacity-0 mt-28">
  <p class="dark:text-light">
    Hey, I’m László Vitkai, a <strong>Web Developer</strong>.
  </p>
  <h1 class="main-heading">Imagine. Build. Refine.</h1>
  <p class="dark:text-light text-lg mb-8">
    My coding journey started in high school, building websites for <span
      ><a
        href="/projects"
        class="font-bold text-teal-800 dark:text-teal-500 underline"
        >small businesses</a
      ></span
    >. While no-code tools got me started, I quickly hit their limits. Bloated
    code, slow websites – I wanted better. That sparked my passion for real
    coding, letting me customize and create unique features. Today, I'm in a web
    development bachelor's program, honing my skills with <span
      class="font-bold text-teal-800 dark:text-teal-500">Javascript</span
    >,
    <span class="font-bold text-teal-800 dark:text-teal-500">Tailwind CSS</span>
    and <span class="font-bold text-teal-800 dark:text-teal-500">GSAP</span>.
    I'm always expanding my toolbox, currently diving into <span
      class="font-bold text-teal-800 dark:text-teal-500">Typescript</span
    > and the <span class="font-bold text-teal-800 dark:text-teal-500"
      >Vue framework</span
    >. I'm passionate about building lightning-fast, SEO-optimized, accessible
    websites.
  </p>
  <div class="flex gap-x-6 mb-16">
    <a
      aria-label="Contact"
      href="mailto:work@laszlovitkai.dev"
      class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 flex-noner"
    >
      Contact Me
    </a>
    <a
      aria-label="Contact"
      target="_blank"
      href="/Laszlo-Vitkai_WebDev-CV.pdf"
      class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70 group"
    >
      Read CV
    </a>
  </div>
  <Image
    src={myPhoto}
    alt="A photo about me coding."
    class="mt-40 w-full object-cover rounded-md"
  />
</section>
<div></div>
