---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image, getImage } from 'astro:assets';

export const getStaticPaths = async () => {
  const projects = await getCollection('projects');

  const paths = projects.map((project) => {
    return {
      params: {
        slug: project.slug,
      },
      props: {
        project,
      },
    };
  });

  return paths;
};

type Props = {
  project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;
const { Content, headings } = await project.render();

const coverImageSource = (await getImage({ src: project.data.image })).src;
---

<Layout
  title=`${project.data.title} - Case study`
  image={coverImageSource}
  description={project.data.description}
>
  <div class="animate-on-scroll opacity-0 py-16 lg:py-32">
    <div class="xl:relative">
      <div class="mx-auto max-w-2xl">
        <a
          href="javascript:history.back()"
          aria-label="Back to previous page"
          class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20"
        >
          <svg
            viewBox="0 0 16 16"
            fill="none"
            aria-hidden="true"
            class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400"
          >
            <path
              d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>
        <article>
          <header class="flex flex-col">
            <h1 class="mt-6">
              {project.data.title}
            </h1>
            <div class="order-first flex items-center dark:text-gray">
              <span class="h-4 w-0.5 rounded-full bg-teal-500"></span><span
                class="ml-3">Case study</span
              >
            </div>
          </header>
          <div
            class="mt-8 prose prose-h2:font-semibold prose-h3:font-semibold prose-strong:text-teal-800 dark:prose-strong:text-teal-500 prose-h1:leading-tight prose-a:text-teal-800 dark:prose-a:text-teal-500 dark:prose-h2:text-light dark:prose-h3:text-light dark:prose-p:text-light dark:prose-li:text-light"
          >
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</Layout>
