---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectList from "../../components/projects/ProjectList.astro";

const allProjects = await getCollection("projects");
---

<Layout
        title="Projects - Laszlo Vitkai"
        description="All the projects that I have worked on before"
>
        <div class="animate-on-scroll opacity-0">
            <h1 style="line-height: 1.2;">Projects</h1>
            <ProjectList projects={allProjects} />
        </div>
</Layout>
